* {
    font-family: "FiraCode Nerd Font";
    font-size: 14px;
    font-weight: 600;
    color: #bac2de;
}

window#waybar {
  background-color: rgba(00,00,00,00);
}


window#waybar.hidden {
    opacity: 0.2;
}

.modules-left {
  background-color: rgba(30,30,46,1);
  border: 1px solid #89b4fa;
  border-radius: 10px;
  margin: 10px 0 0 10px;
}

.modules-right {
  background-color: rgba(30,30,46,1);
  border: 1px solid #89b4fa;
  border-radius: 10px;
  margin: 10px 10px 0 0;
  padding: 5px 20px;
}

/* Modules */

#workspaces {
  color: #bac2de;
}

#network {
  color: #f9e2af;
}

#bluetooth {
  color: #89b4fa;
}

#battery {
  color: #a6e3a1;
}

#pulseaudio {
  color: #f38ba8;
}

#clock {
  color: #bac2de;
}

/* Buttons */

#workspaces button {
  padding: 0 5px;
  margin: 0 5px;
}

